.subtitle{
  font:var( --subtitle);
  color:var(--gray-200);
  
}

.text-sm{
  font:var( --text-sm);
  color:var( --gray-300);
}

.tag-stack{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:8px;
  padding: 8px 16px;
  border-radius: 50px;

  background-color: var(--gray-400);


  font:var(--text-md);
  color:var( --gray-200);
}