*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  background: var(--background-color);
  color: var(--text-color-primary);
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}