form{

  & fieldset{
  border: none;

    & .legend-wrapper{
      display:flex;
      align-items: center;
      gap:.75rem;
      margin-bottom: 1.25rem;

      & img{
        width: 1.5rem;
        height: 1.5rem;
        color: var(--input-placeholder);
      }

      & legend{
        font: var(--heading-sm);
        color: var(--text-heading);
      }
    }  
   }
}

.input-wrapper, .input-textarea{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1.25rem;

  & label{
    font: var(--body-sm);
    color: var(--input-placeholder);
  }

  & input, textarea{
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .3125rem;
    padding: .75rem;
    font: var(--body-md);
    color: var(--text-body);

    &::placeholder{
      font: var(--body-md);
      color: var(--input-placeholder);
    }

    &[type="datetime-local"]::-webkit-calendar-picker-indicator{
      display: none;
    }
  }
}

.input-wrapper-row{
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;

  & .input-wrapper{
    flex: 1;
  }


}

.option-wrapper{
  display: flex;
  gap: .75rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .3125rem;
  padding: .25rem;
  font: var(--body-md);
  color: var(--text-body);




  & .options svg{
    height: 1rem;
    width: 1rem;
    
  }

  & .options{
    display: flex;
    flex: 1;
    position: relative;
    
    & input{
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;


    }

    & input:checked + label{
  
       height: 2.5rem;
       background-color: var(--shape-background);
       padding: .5rem;

       border-radius: .25rem;
       flex: 1;
       & svg{
          color:var(--brand-dark) ;
       }   
    }
    
    & label{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:.5rem;
      padding: .5rem;
      cursor: pointer;
    }
  }
}

.options-color {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 1rem;

  & .color-item {
    position: relative;

    & input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    & label {
      display: block;
      border-radius: 50%;
      border: .25rem solid var(--shape-button);
      background-color: var(--cor-opcao);
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }

    & input:checked + label {
      outline: 2px solid var(--brand-mid);
      outline-offset: 2px;
    }
  }
}

.input-wrapper-grid {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  margin-bottom: 1.75rem;

  & > label {
    font: var(--body-sm);
    color: var(--input-placeholder);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .75rem;
}

.input-card {
  position: relative;

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  & label {
    display: flex;
    flex-direction: column;
    padding: .25rem .25rem .5rem .25rem;
    border: 2px solid transparent;
    border-radius: .5rem;
    background-color: var(--shape-button);
    cursor: pointer;
    overflow: hidden;
  }

  & .card-image {
    height: 4rem;
    border-radius: .25rem;
    background-image: var(--bg-tema);
    background-size: cover;
    background-position: center;
  }

  & .card-title {
    display: block;
    text-align: center;
    margin-top: .5rem;
    color: white;
  }

  & input:checked + label {
    border-color: var(--brand-mid);
  }
}