*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  
  background-color: var(--shape-background);
  font: var(--body-md);
  color: var(--text-body);

  overflow: hidden;  
}

h1{
  font: var(--heading-md);
  color: var(--text-heading);
}


h2{
  font: var(--logo);
  color: var(--pink);
}

p{
  font: var(--body-sm);
  color: var(--text-heading);
}


